<div layout="row">
	<md-content flex layout-padding>
		<div layout="row">
			<h3>Select your DB file :</h3>
		</div>
		<div layout="row">
			<input class="ng-hide" id="input-file-id" type="file" onchange="angular.element(this).scope().fileSelected(this)" />
			<label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label>
		</div>
		<div layout="row" ng-show="progressCounter">
			Uploading - {{progressCounter}} %
		</div>
		<div layout="row" ng-show="message" style="color:green;">
			{{message}}
		</div>
		<div layout="row" ng-show="error" style="color:red;">
			{{error}}
		</div>
	</md-content>
</div>