<div layout="row">
	<md-content flex layout-padding>
		<md-input-container>
	      <label>Database</label>
	      <md-select ng-model="db.selected" ng-change="selectDb()">
	        <md-option ng-repeat="database in db.databases" ng-value="database" ng-selected="$index === 0">
	          {{database.name}}
	        </md-option>
	      </md-select>
	    </md-input-container>
		<md-input-container>
	      <label>Table</label>
	      <md-select ng-model="table" ng-change="changeTable()">
	        <md-option ng-repeat="t in tables" ng-value="t">
	          {{t}}
	        </md-option>
	      </md-select>
	    </md-input-container>
		<md-input-container ng-show="variables.length > 0">
	      <label>Group By</label>
	      <md-select ng-model="groupByVariable" ng-change="changeVariable()">
	        <md-option ng-repeat="variable in variables | filter : {type: 'string'}" ng-value="variable" ng-selected="$index === 0">
	          {{variable.name}}
	        </md-option>
	      </md-select>
	    </md-input-container>
		<md-input-container ng-show="variables.length > 0">
	      <label>Aggregated variable</label>
	      <md-select ng-model="aggVariable" ng-change="changeVariable()">
	        <md-option ng-repeat="variable in variables | filter : {type: 'int'}" ng-value="variable" ng-selected="$index === 0">
	          {{variable.name}}
	        </md-option>
	      </md-select>
	    </md-input-container>
	    <md-button class="md-primary" ng-click="filter()">Filter</md-button>
	</md-content>
</div>
<div layout="row" ng-show="rowCollection.length > 0">
	<md-content flex layout-padding>
		<h3>{{groupByVariable.name}} - {{aggVariable.name}}</h3>
	</md-content>
</div>
<div layout="row" ng-show="loading">
	<img src="static/img/loading.gif">
</div>
<div layout="row" ng-show="remaining_rows">
	<md-content flex layout-padding>
		<h4>The first 100 rows are displayed - The {{remaining_obs}} remaining observation(s) are hidden ({{remaining_rows}} rows)</h4>
	</md-content>
</div>
<div layout="row" ng-show="rowCollection.length > 0">
	<md-content flex layout-padding>
		<table st-table="rowCollection" class="table table-striped">
			<thead>
			<tr>
				<th>Variable</th>
				<th>Number of rows</th>
				<th>Average</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="row in rowCollection">
				<td>{{row.variable}}</td>
				<td>{{row.count}}</td>
				<td>{{row.avg}}</td>
			</tr>
			</tbody>
		</table>
	</md-content>
</div>