<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Explore database</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
        	<h5>Discover this intuitive tool to explore database.</h5>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button href="#/explore">Explore</md-button>
        </md-card-actions>
      </md-card>
   </div>
   <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Add database</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
        	<h5>You can also import your own database file and explore it !</h5>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button href="#/database">Awesome ! Let's go !</md-button>
        </md-card-actions>
      </md-card>
   </div>
</md-content>